.center {
    

transform: scale(0.7);
background-color: pink;
width: 80px;
height: 80px;
  }
  .click-zoom  {
    margin: 100px;
    transition: transform 0.25s ease;
    cursor: zoom-in
  }

  .boom{
    display: inline-block;
    margin-left: 110px;
  }
  p{
    color: blue;
  }
  #heading{
    font-family: "Lucida Console", "Courier New", monospace;
    text-indent: 10px;
    font-size: 40px;
  }
#image{
  display: inline-block;
  margin-left: 120px;
}
  

#button{
  margin-left: 700px;
  margin-top: 40px;
}
